img.img {
    width         : 16rem;
    height        : 10rem;
    border-radius : 25px;
    -webkit-filter: drop-shadow(5px 5px 5px #111);
    filter        : drop-shadow(7px 7px 7px #111);
}

* {
    color: white;
}

.column {
    display: flex;
    width  : 30rem;
    height : 20rem;
    padding: 20px;
    margin : 10px;
}

.row {
    display: flex;
}

p {
    padding: 0;
    margin : 0;
}

.card-header {
    display   : inline;
    text-align: center;
}

h5 {
    display   : inline-flex;
    text-align: center;
    padding   : 10px;
    margin    : 0;
}

h5:hover {
    color     : black;
    transform : scale(1.07);
    transition: all 550ms ease-in-out;
}

a:hover {
    color     : black;
    transition: all 550ms ease-in-out;
}

div.card-header {
    display     : flex;
    justify-self: center;
    text-align  : center;
}

.card-deck {
    display              : flex;
    flex-wrap            : wrap;
    justify-content      : space-evenly;
    background-color     : transparent;
    border               : none;
    color                : white;
    font-family          : Arimo;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap             : .5rem;
}

.card {
    display      : grid;
    flex-wrap    : wrap;
    justify-items: baseline;
    padding      : 15px;
    width        : 24em;
    border-radius: 0.6em;
    margin       : 1em;
    transition   : all ease 200ms;
}

html,
body {
    height               : 2000px;
    background: rgb(34,132,195);
    background: linear-gradient(14deg, rgba(34,132,195,1) 0%, rgba(11,199,184,1) 67%, rgba(0,232,178,1) 100%);
    height               : 100%;
    overflow             : hidden;
    background-attachment: fixed !important;
    bottom               : 0;
    left                 : 0;
    right                : 0;
    overflow             : auto;
}

div.container {
    position: relative;
    top     : 0;
    bottom  : 0;
    left    : 0;
    right   : 0;
    overflow: auto;
}