

img.img {
    width  : 25rem;
    height : 15rem;
    border-radius : 25px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter        : drop-shadow(7px 7px 7px #222);
}
img.img:hover {
    transform: scale(1.02);
  }

.column {
    display: flex;
    width  : 30rem;
    height : 20rem;
    padding: 20px;
    margin : 10px;
}

.row {
    display        : flex; 
}

p {
    padding: 0;
    margin : 0;
}

h5 {
    display: inline-flex;
    padding: 10px;
    margin : 0;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    border: none;
    color: grey;
    font-family: Arimo;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: .5rem;   
}

.card {
    display: grid;
    flex-wrap: wrap;
    justify-items:baseline;
    padding: 15px;
    width: 24em;
    border-radius: 0.6em;
    margin: 1em;
    transition: all ease 200ms;
  }
  
