.hello {
    margin-top    : 5%;
    border-radius : 100%;
    max-width: 70%;
    max-height: 400px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter        : drop-shadow(5px 5px 5px #222);
    margin-bottom : 25px;
}

.intro {
    justify-items   : center;
    font-weight     : light;
    width           : 100%;
    height: auto;
}

h3 {
    font-weight: normal;
    font-size  : 3rem;
    color      : black;
    margin-bottom: 2%;
    margin-top: 2%;
}

p {
    font-size: 1.3rem;
}


* {
    background-color: transparent;
}

@media screen and (max-width: 568px) {



}
