.hello {
    margin-top: 40px;
    max-height: 250px;
    border-radius:200px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.howdy {
    padding-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
    font-size:large;
} 
