.hello {
    margin-top    : 50px;
    max-width     : 400px;
    border-radius : 200px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter        : drop-shadow(5px 5px 5px #222);
    margin-bottom: 25px;
}

.intro {
    font-weight: light;
    font-size: medium;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

h3 { 
    font-weight: normal;
    font-size: xx-large;
    color: black;
    margin-top: 45px;
    margin-bottom: 15px;
}

.howdy {
    padding-top : 30px;
    margin-left : 8%;
    margin-right: 8%;
    font-size   : 1.7rem;
}

* {
    background-color: transparent;
}

.header {
    display   : flex;
    text-align: center;
}


/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    
    .intro{
        width: 80%;
        
    }

    p {
        font-size: small;
    }

    h3 {
        font-size: large;
    }

    .hello {
        max-width : 80%;
        margin-top: 25%;
        margin-bottom: 35%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .howdy {
        padding-top : 20px;
        margin-left : 8%;
        margin-right: 8%;
        font-size   : 3rem;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

    .intro{
        width: 80%;
        
    }

    p {
        font-size: small;
    }

    h3 {
        font-size: large;
    }

    .hello {
        max-width : 50%;
        /* margin-top: 25%; */
        margin-bottom: 35%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .howdy {
        padding-top : 20px;
        margin-left : 8%;
        margin-right: 8%;
        font-size   : 3rem;
    }

}



