.nav {
    justify-content : right;
    top             : 0;
    width           : 99%;
    text-align      : right;
    margin-right    : 10px;
    background-color: transparent;
}

a {
    padding-right: 15px;
    font-weight  : bold;
}

a.active {
    color: black;
}

div.navbar {
    text-align    : right;
    padding-bottom: 10px;
}

hr {
    margin-top: 5px;
    min-width : 98%;
}

.links {
    padding-bottom: 10px;
    padding-top   : 10px;
    font-size      : 1.3rem;
}

@media screen and (max-width: 568px) {
    .links {
        display        : flex;
        flex-wrap      : wrap;
        flex-direction : column;
        justify-content: center;
        align-content  : space-around;
        align-items    : center;
        max-width      : 75%;
        font-size      : 2rem;
        padding-top    : 10px;
        padding-bottom : 10px;
    }

    div.navbar {
        display       : flex;
        flex-wrap     : wrap;
        flex-direction: column;
        align-items   : center;
    }

    a {
        padding: 5px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .links {
        display        : flex;
        justify-content: center;
        align-content  : space-around;
        font-size      : 2.5rem;
        padding-top    : 10px;
        padding-bottom : 10px;
    }
}