nav {
    top       : 0;
    width     : 99%;
    text-align: right;
    padding-top: 10px;
    margin-right: 10px;
}

a {
    padding-right: 10px; 
    font-weight: bolder;
}

.navbar{
    text-align: right;
}

hr {
    margin-top: 2px;
    min-width: 98%;
}
