.nav {
    justify-content: right;
    top            : 0;
    width          : 99%;
    text-align     : right;
    margin-right   : 10px;
    background-color: transparent;
}

a {
    padding-right: 15px;
    font-weight  : bold;
    
   
}

div.navbar {
    text-align: right;
    padding-bottom: 10px;
}

hr {
    margin-top: 5px;
    min-width : 98%;
}

.links {
    padding-bottom: 10px;
    padding-top: 10px;
}

@media screen and (max-width: 568px) {
    div.navbar{
        text-align: center;
    } 

    .row {
        display        : flex;
        justify-content: space-evenly;
    }
    .col {
        display: flex;
    }
    .card {
        width        : 600px;
        margin       : 15px;
        border-radius: 10px;
    
    }
}