.post-container h5 {
    margin-top: 10px;
}

.preview {
    text-align: center;
}

.blog-div {
    display       : flex;
    flex-direction: column;
    align-content : center;
    color         : black;
}

.preview-title {
    font-size: 1.7rem;
    margin   : 20px;
}

.logos {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin-bottom : 25px;
}

.img svg {
    fill: black;
}

.section-title {
    text-align: center;
    font-size : 1.3rem;
    margin-top: 30px;
}

.upload-process {
    display    : flex;
    align-items: flex-start;
    margin     : 5px;
}

.before-and-after,
.before-and-after p {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : baseline;
    font-size      : .7rem;
}

.before-and-after img {
    height       : 14rem;
    margin       : 20px 20px 0px 20px;
    border-radius: 15px;
}

.refactored,
.refactored p {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : baseline;
    font-size      : .7rem;
}

.front img,
.back img {
    height       : 17rem;
    margin       : 20px 20px 0px 20px;
    border-radius: 15px;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 30px;
}