ul li,
ul li a,
ul li p {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-items  : center;
    list-style-type: none;
    padding-left   : 17px;
    padding-right  : 17px;
    font-size      : 1.5rem;
    font-weight    : normal;
    align-items    : center;
}

.fas {
    padding-left : 3px;
    padding-right: 3px;
}

.footer--pin {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    justify-items  : center;
    align-items    : center;
    color          : white;
    margin-top     : 2%;
    padding-bottom: 1%;
}

@media (max-width: 568px) {

    footer ul,
    footer li,
    footer a {
        display        : flex !important;
        flex-direction : row !important;
        flex-wrap      : wrap !important;
        justify-items  : center;
        justify-content: center;
        align-items    : center;
        font-size      : 1.7rem !important;
        padding        : 0;
        width: 90%;
    }

}