.footer--pin {
    display        : inline-flex;
    flex-direction : row;
    flex-wrap      : wrap;
    width          : 100%;
    justify-content: center;
    position       : relative;
    left           : 0;
    bottom         : 0;
}

.footer--pin ul {
    display       : inline-flex;
    flex-direction: row;
    align-content : flex-end;
}

.footer--pin li,
.footer--pin li a {
    display       : inline-flex;
    flex-direction: row;
    flex-wrap     : nowrap;
    align-items   : baseline;
    font-weight   : normal !important;
    font-size     : 1.5rem !important;
}

.fas {
    padding-left : 7px;
    padding-right: 7px;
}

@media (max-width: 568px) {

    .footer--pin,
    .footer--pin ul {
        display       : flex;
        flex-direction: column;
        padding: 0;
    }
}