ul li,
ul li a,
ul li p {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-around;
    justify-items  : center;
    list-style-type: none;
    padding-left   : 17px;
    padding-right  : 17px;
    font-weight    : normal;
    align-items: flex-end;
}

.fas {
    padding-left: 3px;
    padding-right: 3px;
}

.footer--pin ul {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    justify-items  : center;
    color     : white;
    margin-top: 10px;
}

@media (max-width: 568px) {
    ul {
        display        : flex;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-items  : center;
        justify-content: center;
        font-size      : 2em;
    }

}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    ul {
        display        : flex;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-items  : center;
        justify-content: center;
        font-size      : 2em;
    }
}