/* * {
  font-family: 'Arimo', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-color: #373737;
}

.App {
  min-height     : 87vh;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  font-size      : calc(10px + 2vmin);
  color          : white;
}

.App-link {
  color: #61dafb;
}

a:visited {
  color: grey;
}

div {
  padding-bottom:1%;
}

hr {
  padding: 0px;
  margin: auto;
  align-self: center;
} */